@{
    ViewBag.Title = "Maturity Details";
}

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Index",
            "Home",
            FormMethod.Post,
            new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary();
            <label for="file">Upload CSV File:</label>
            <input type="file" name="file" id="file" accept=".csv" />
            <span class="field-validation-error" id="spanfile"></span><br><br>
            <input type="submit" id="btnSubmit" value="Generate XML" />
            <br><br>
        }
    </div>
</div>